<article class="article__menu">
    
    <div class="article__menu-title">
        <h1> Menú del restaurante </h1>
        <p> Última modificación: marzo del 2023 </p>
    </div>

    <div class="article__menu-price">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" font-size="m" color="special.black" class="css-12m8qvz e1b9idq40"><path fill-rule="evenodd" d="M22.5 12v4.5a2.254 2.254 0 0 1-2.096 2.245l-.154.005H3.75a2.254 2.254 0 0 1-2.245-2.096L1.5 16.5V12h21zm-8.25 2.25H12a.75.75 0 0 0 0 1.5h2.25a.75.75 0 0 0 0-1.5zm-6 0H6a.75.75 0 0 0 0 1.5h2.25a.75.75 0 0 0 0-1.5zm12-9c1.24 0 2.25 1.01 2.25 2.25V9h-21V7.5c0-1.24 1.01-2.25 2.25-2.25h16.5z"></path></svg>
        <h2> Precio medio 40€ </h2>
        <svg  xmlns="http://www.w3.org/2000/svg" fill="#589442" width="1.25rem" height="1.25rem" viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="css-p3qwn0 esv7iuz0"><g fill-rule="evenodd" fill="#589442"><path d="M12 1.5c5.799 0 10.5 4.701 10.5 10.5S17.799 22.5 12 22.5 1.5 17.799 1.5 12 6.201 1.5 12 1.5Zm0 1.313a9.187 9.187 0 1 0 0 18.374 9.187 9.187 0 0 0 0-18.375Z"></path><path d="M12 15.938a.984.984 0 1 1 0 1.968.984.984 0 0 1 0-1.968Zm.154-10.172c2.077 0 3.127 1.57 3.127 3.126 0 .968-.412 1.834-1.523 2.944-.879.879-1.102 1.318-1.102 1.805v.656a.656.656 0 1 1-1.312 0v-.656c0-.877.38-1.628 1.486-2.733.88-.88 1.139-1.424 1.139-2.016 0-.916-.6-1.814-1.815-1.814-1.366 0-2.123.864-2.123 1.814a.656.656 0 1 1-1.312 0c0-1.64 1.303-3.126 3.435-3.126Z"></path></g></svg>
    </div>

    <div class="article__menu-items">
        <div class="article__menu-item">

            <div class="article__menu-item-title">
                <h1>Khao Suai</h1>
                <div class="points"></div>
                <div class="price">6€</div>
            </div>
            
            <div class="article__menu-item-text">
                Arroz blanco thai perfumado que acompaña a todos los platos, no debe faltar en ninguna mesa
            </div>
        </div>

        <div class="article__menu-item">
            <div class="article__menu-item-title">
                <h1>Khao Suai</h1>
                <div class="points"></div>
                <div class="price">6€</div>
            </div>
            <div class="article__menu-item-text">
                Arroz blanco thai perfumado que acompaña a todos los platos, no debe faltar en ninguna mesa
            </div>
        </div>

    </div>

    <button class="article__menu-button">
        VER MENÚS A LA CARTA Y DEL DIA
    </button>
</article>