.acerca{
    padding: 1em 0;    
}
.acerca__h3{
    margin: 0 0 2rem;
    font-size: 1.4em;
    font-weight: 600;
}
.acerca__p{
    margin: 0 0 1.5rem;
    line-height: 1.6rem;
    font-size: .85em;
    font-weight: 300;
}