.article__opiniones{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    position: relative;

    h1{
        font-size: 140%;
        font-weight: 600;
        width: 100%;
    }
}

.article__opiniones-points{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    gap: 1em;
}
.article__opiniones-points--graphics{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid lightgrey;
    gap: 1em;

}
.points__overall{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.circle{
    width: 20%;
    position: relative;
    height: 6em;
    display: flex;
    justify-content: center;
    align-content: center;
    svg{
        width: 6em;
        height: 6em;
    }
}
.circle__nota{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    align-content: flex-end;

    top: 40%;
    p{
        font-size: 140%;
        font-weight: 600;

    }
}

.text{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    h1{
        font-size: 100%;
        text-align: center;
    }
    p{
        text-align: center;
    }
}

.points__average{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.average__food{

    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    border-right: 1px solid lightgrey;
    &:last-child{
    border-right: none;

    }
}

.dest{

    span{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
    }

    p:first-child{
        font-size: 110%;
        color: var(--tipo-color-verde);
        font-weight: 600;
    }
    p:last-child{
        font-size: smaller;
    }
}
.article__opiniones-points--graphics1{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}
.graphics1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;

    .barra{
        width: 80%;
        background-color: #DDF0D6;
        height: .5em;
        border-radius: 6px;
        position: relative;

        &.menos{
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                background-color: var(--tipo-color-verde);
                border-radius: 6px;
                width: 70%;
                top: 0;
                left: 0;
                transition: width 0.5s ease-in-out;
              }
        }
        &.aunmenos{
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                background-color: var(--tipo-color-verde);
                border-radius: 6px;
                width: 20%;
                top: 0;
                left: 0;
                transition: width 0.5s ease-in-out;
              }
        }
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            background-color: var(--tipo-color-verde);
            border-radius: 6px;
            width: 90%;
            top: 0;
            left: 0;
            transition: width 0.5s ease-in-out;
          }

    }
}

.article__warning{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-size: smaller;
    gap: .3em;
    font-weight: 600;
    padding: 1rem 0; 
    text-decoration: underline;

    svg{
        width: 1em;
        height: 1em;
    }
}

.article__overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    &.active{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.article__pop-up{
    width: 40%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 6px;
    opacity: 1;
}

.article__pop-up--header{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;

    h1{
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 600;
    }
    svg{
        width: 1em;
        height: 1em;
        font-weight: 600;
        cursor: pointer;
    }
}

.article__pop-up--info{
    overflow-y: scroll;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    h2{
        font-size: 110%;
        font-weight: 600;
    }
    h1{
        font-size: 160%;
        font-weight: 600;
    }

    ul{
        margin-left: 2em; 
    }
    li{
        list-style-type:disc;
    }
}

.article__pop-up--footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid lightgrey;
    button{
        font-size: smaller;
        color: var(--tipo-color-verde);
        cursor: pointer;

    }
}