<div class="article__overlay" [ngClass]=" showpop_up ? 'active' : ''">
    <div class="article__pop-up">
    
        <div class="article__pop-up--header">
            <h1>NOTIFICACIÓN SOBRE OPINIONES</h1>
            <svg (click)="closePop()"  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" color="special.black" class="css-r67m69 e7tclca0"><path fill-rule="evenodd" d="m12 10.94 6.22-6.22a.75.75 0 0 1 1.147.956l-.087.104L13.06 12l6.22 6.22a.75.75 0 0 1-.956 1.147l-.104-.087L12 13.06l-6.22 6.22a.75.75 0 0 1-1.147-.956l.087-.104L10.94 12 4.72 5.78a.75.75 0 0 1 .956-1.147l.104.087L12 10.94Z"></path></svg>

        </div>

        <div class="article__pop-up--info">
            <h2>Solo los usuarios que han reservado a través de TheFork o pagado la cuenta con TheFork PAY pueden escribir opiniones sobre restaurantes y puntuarlos</h2>
            
            <h1>RESEÑAS Y CALIFICACIONES</h1>
            <p>Publicado el 7 de septiembre de 2022</p>
            <h2>1. Cálculo de la calificación del restaurante</h2>
            <p>Cuando los usuarios califican un restaurante, les pedimos que evalúen 3 aspectos:

                <ul>
                    <li>La calidad de la comida, que equivale al 50 % de la puntuación</li>
                    <li>El servicio, que equivale al 25 % de la calificación</li>
                    <li>El ambiente del restaurante, que equivale al 25 % de la valoración</li>
                </ul>
            <p>
                El cálculo de la valoración del restaurante en la plataforma TheFork es una media de todas las valoraciones de los usuarios durante último año. TheFork se basa en el método aritmético (método bayesiano en los Países Bajos) para calcular la valoración media de cualquier restaurante afiliado.
                Los usuarios también pueden valorar la relación calidad-precio, el nivel de ruido, el tiempo de espera y la calidad de la comida. Estos criterios extra no influyen en la calificación, pero sí pueden ayudar a mejorar el servicio del restaurante al dar su opinión sobre estos aspectos.
                Por último, los usuarios también pueden dejar una valoración para justificar su puntuación; explicando brevemente cómo ha sido su experiencia en el restaurante, cuál ha sido su plato favorito, el ambiente y el servicio.
                Las opiniones de los usuarios no solo son importantes para nosotros, sino que también son beneficiosas para toda la comunidad de TheFork.
        
            </p>    
        
            <h2>2. Gestión de opiniones por parte de los usuarios</h2>
            <p>Si los usuarios han hecho una reserva con TheFork y han disfrutado de una comida, tienen hasta 3 meses desde la fecha de la experiencia gastronómica para compartirla. Sugerimos a los usuarios que escriban una valoración lo antes posible para evitar que se olviden de los detalles de su experiencia.

                Para dejar una valoración de la experiencia gastronómica, los usuarios tienen las siguientes 3 opciones: </p>

                <ul>
                    <li> Usando el enlace proporcionado por TheFork en el correo electrónico recibido tras la comida, si la comida fue satisfecha</li>
                    <li>A través de la cuenta de TheFork del usuario en la aplicación</li>
                    <li> Escaneando el código QR de TheFork en la mesa de los restaurantes que ofrecen esta función, solo después de pagar la cuenta con TheFork PAY</li>
                </ul>
            <p>
                Estas 3 opciones son las únicas maneras en las que los usuarios pueden escribir sus comentarios, ya que esto permite a TheFork verificar que los usuarios han visitado el restaurante sobre el que están compartiendo su experiencia.
                
                Nos gustaría destacar el hecho de que nuestra plataforma, y las reseñas de los restaurantes que aparecen en ella, se basan en todas las reseñas facilitadas por los usuarios. Esto significa que todas las reseñas, positivas o no, se publican para que todos los usuarios las tengan en cuenta (si por lo demás cumplen con nuestras Condiciones de uso, consulta nuestro proceso de moderación más abajo). Para nosotros, todas las opiniones sobre experiencias gastronómicas son importantes en nuestra plataforma y son parte fundamental de la comunidad de TheFork.</p>
        
            <h2>3. Moderación de los comentarios de TheFork</h2>
            <p>Para mantener un buen nivel de fiabilidad y transparencia, todas las opiniones enviadas por los usuarios y las respuestas de los restaurantes pasarán por nuestro proceso de moderación.

                Las reseñas se verifican tanto por una herramienta de moderación automatizada como por nuestro equipo de moderadores si es necesario: </p>

                <ul>
                    <li>Disponemos de una potente herramienta de moderación automatizada para identificar las reseñas que puedan no ser auténticas o que infrinjan nuestras normas sobre reseñas, tal y como se establece en nuestras Condiciones de uso (artículo 6.1 Condiciones para publicar reseñas y artículo 6.2 Motivos para rechazar el contenido de los usuarios). Las reseñas que no se marquen como potencialmente falsas o que incumplan nuestras normas se publicarán automáticamente.</li>
                    <li>Al detectar un posible problema, nuestro equipo de moderación verifica la reseña y confirma si proviene de un consumidor que tuvo una experiencia real comiendo en el restaurante en cuestión y que, por lo demás, cumple con nuestras Condiciones de uso. Esto puede incluir, por ejemplo, contactar con Usuarios por correo electrónico o teléfono para corroborar la información.</li>
                    <li>Cuando nuestro equipo de moderación confirma que la valoración no cumple con los requisitos (por ejemplo, cuando los Usuarios no hayan comido en el restaurante no podrán dejar una reseña sobre la experiencia gastronómica; si la reserva en cuestión se establece como no presentada por el restaurante o si los comensales cancelan la reserva) no la publicamos y los Usuarios no tendrán la oportunidad de reformular su comentario.</li>
                    <li>Cuando la valoración no cumple con nuestras otras normas (por ejemplo, cuando todo el comentario es incomprensible, cuando es discriminatorio, cuando hay una gran incoherencia entre la valoración y el comentario, etc.), informaremos al Usuario y le pediremos que redacte de nuevo su reseña de forma que se ajuste a nuestras Condiciones de uso.</li>
                    <li>Si sospechas que una reseña no es auténtica o no cumple con nuestras normas, ponte en contacto con nosotros en contacto@thefork.es indicando el motivo de tus dudas y nuestro equipo de moderación investigará tal y como se ha descrito anteriormente. Atendemos todas las solicitudes de moderación, tanto de los restaurantes como de los usuarios por igual.</li>
                </ul>
                
            <p>Como cada día se envían muchas reseñas, puede haber algún retraso en la publicación:</p>
                
            <ul>
                <li>La calificación se publica inmediatamente (si la calificación no cumple con el requisito anterior sobre el cumplimiento de la reserva, entonces se elimina).</li>
                <li>La revisión puede tardar hasta 15 días en publicarse al tener que ser revisada por nuestro equipo de moderación.</li>
                <li>La reseña solo será visible en TheFork cuando el restaurante tenga 3 o más reseñas. Si el restaurante tiene menos de 3 opiniones, las 3 primeras se guardarán y se publicarán cuando el restaurante haya superado el número mínimo.</li>
            </ul>
            
            <h2>4. Derecho de réplica del restaurante</h2>
                <p>En cuanto se publica una reseña, los propietarios de los restaurantes tienen el derecho a responder en un plazo de 3 meses desde que se envió la reseña. La respuesta no debe exceder la longitud de la revisión y, en cualquier caso, no puede superar los 1024 caracteres.

                    Todas las respuestas de los restaurantes pasan por el mismo proceso de moderación descrito en el punto 3 anterior.</p>
        
        </div>
    
        <div class="article__pop-up--footer">
            <button (click)="closePop()"> CERRAR </button>
        </div>
    </div>
</div>

<article class="article__opiniones">

    <h1 class="article__opiniones-h1"> Opiniones</h1>

    <div class="article__opiniones-points">

        <div class="article__opiniones-points--graphics">

            <div class="points__overall">

                <div class="circle">

                    <svg viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="45" stroke="#b4cfaa" stroke-width="3" fill="transparent" />
                        <circle id="progress" cx="50" cy="50" r="45" stroke="#589442" stroke-width="3" fill="transparent" transform="rotate(-90 50 50)" [ngStyle]="{'stroke-dasharray' :getPorcentage()}"/>
                      </svg>
                      <div class="circle__nota"> <p>{{nota}}</p>/10</div>
                </div>
            
                <div class="text">
                    <h1> {{getClasificacion()}} </h1>
                    <p>6904 Opiniones </p>
                </div>
            </div>

            <div class="points__average">
                <div class="average__food">
                    <div class="dest"> 
                        <span> <p>9,1</p> <p>/10</p> </span> 
                        <p> Comida </p>
                    </div>

                </div>
                <div class="average__food">
                    <div class="dest"> <span class="bold"> <p>9,1</p> <p>/10</p> </span> <p> Servicio </p></div>


                </div>    
                <div class="average__food">
                    <div class="dest"> <span class="bold"> <p>9,1</p> <p>/10</p> </span> <p> Ambiente </p></div>


                </div>    

            </div>
        </div>


        <div class="article__opiniones-points--graphics1">
            <div class="graphics1">
                <span>9-10</span>
                <span class="barra"></span>
            </div>
            <div class="graphics1">
                <span>7-8</span>
                <span class="barra menos"></span>
            </div>
            <div class="graphics1">
                <span>5-6</span>
                <span class="barra aunmenos"></span>
            </div>
            <div class="graphics1">
                <span>3-4</span>
                <span class="barra aunmenos"></span>
            </div>
            <div class="graphics1">
                <span>1-2</span>
                <span class="barra aunmenos"></span>
            </div>

        </div>
    
    </div>

    <div class="article__warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" mr="s" class="css-1vyst8h e1o8s7z70"><g fill-rule="evenodd"><path d="M12 1.5c5.799 0 10.5 4.701 10.5 10.5S17.799 22.5 12 22.5 1.5 17.799 1.5 12 6.201 1.5 12 1.5Zm0 1.313a9.187 9.187 0 1 0 0 18.374 9.187 9.187 0 0 0 0-18.375Z"></path><path fill-rule="nonzero" d="M12 9.375c.362 0 .656.294.656.656v6.565h.656a.656.656 0 1 1 0 1.313h-2.624a.656.656 0 1 1 0-1.313h.655v-5.909h-.655a.656.656 0 1 1 0-1.312H12Zm-.164-3.281a1.148 1.148 0 1 1 0 2.297 1.148 1.148 0 0 1 0-2.297Z"></path></g></svg>
      <p (click)="showPop()">
        ¿Quién puede escribir una opinión y cómo calculamos las puntuaciones?
      </p>
    </div>


</article>