<section class="descubre">
    <div class="wrapper">
        <img class="descubre__img" src="assets/svg/card.svg" alt="Tarjeta de regalo" >
        <div class="descubre__col">
            <div class="descubre__text">
                <h3  class="descubre__h3">¡NUEVO! Descubre la Tarjeta Regalo TheFork</h3>
                <p   class="descubre__p">El regalo perfecto para disfrutones de los buenos restaurantes, disfruta sin letra pequeña en +3.000 restaurantes de experiencias gastronómicas</p>
            </div>
            <a class="descubre__a" href="#" >
                <span class="descubre__span">Descubre la tarjeta regalo TheFork</span>
                <svg class="descubre__svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" ml="s"><path fill-rule="evenodd" d="M12.292 19.273a.686.686 0 01.05-.966l6.121-5.55H3.753A.755.755 0 013 12.002c0-.418.337-.758.752-.758H18.47L12.34 5.695a.69.69 0 01-.05-.969.676.676 0 01.961-.05l7.522 6.812a.69.69 0 010 1.017l-7.52 6.82a.677.677 0 01-.962-.052z"></path></svg>
            </a>
        </div>
    </div>
</section>